<div class="modal fade" id="viewApplicationModal" tabindex="-1" role="dialog" aria-labelledby="viewApplicationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewApplicationModalLabel">Application Id: <%= application.id %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <table class="table">
            <tbody>
              <tr>
                <td>E-mail</td>
                <td><%= application.email %></td>
              </tr> 
              <tr>
                <td>Full Name</td>
                <td><%= application.full_name %></td>
              </tr>  
              <tr>
                <td>Gender</td>
                <td><%= application.gender %></td>
              </tr> 
              <tr>
                <td>DoB</td>
                <td><%= application.dob %></td>
              </tr> 
              <tr>
                <td>Mobile</td>
                <td><%= application.mobile %></td>
              </tr> 
              <tr>
                <td>Driving License</td>
                <td>
                  
              <% if application.driving_license? %>
                <%= image_tag(application.driving_license.url, size: "300x300") %>
              <% end %>
                </td>
              </tr> 
              <tr>
                <td>Vehicle Registration Card</td>
                <td>
                  
                  <% if application.vehicle_registration_card? %>
                <%= image_tag(application.vehicle_registration_card.url, size: "300x300") %>
              <% end %>
                </td>
              </tr> 
            </tbody>
          </table>
      </div>
      
    </div>
  </div>
</div>