<center>
	<h1>History</h1>
</center>
Applications
<br>
<% @all_record.each do |application| %>
	<div class="card">
	  <div class="card-body">
	    <ul style="list-style-type: none;">
	    	<li><%= application.full_name %></li>
	    	<li><%= application.city %></li>
	    	<li><%= application.email %> </li>
	    	<li><%= application.status %> </li>
	    </ul>
	    <center>
		    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewApplicationModal<%=application.id%>">
		      View
		    </button>
		</center>
	  </div>
	</div>
	<%= render "view_history", application: application %> 
<% end %>
