<center>
	<h1>Applications</h1>
</center>
<% if @pending_application.count>0 %>
	Pending Applications
	<br>
<% end %>
<% @pending_application.each do |pend_app| %>
	<a href="/admin/<%= session[:admin_id] %>/review_application/<%= pend_app[:id] %>">
	<div class="card">
	  <div class="card-body">
	    <ul style="list-style-type: none;">
	    	<li><%= pend_app.full_name %></li>
	    	<li><%= pend_app.city %></li>
	    	<li><%= pend_app.email %> </li>
	    </ul>
	  </div>
	</div>
	</a>
<% end %>
<% if @application_info.count>0 %>
	Applications 
	<br>
<% end %>
<% @application_info.each do |application| %>
	<a href="/admin/<%= session[:admin_id] %>/review_application/<%= application[:id] %>">
	<div class="card">
	  <div class="card-body">
	    <ul style="list-style-type: none;">
	    	<li><%= application.full_name %></li>
	    	<li><%= application.city %></li>
	    	<li><%= application.email %> </li>
	    </ul>
	  </div>
	</div>
	</a>
<% end %>
