<% @page_title = "Sputnik | Signup" %>

<h1>Sign Up</h1><br>


<%= form_for @user, url: {action: "create"} do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <div class="alert alert-danger"> 
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <br>
  <div class="actions"><%= f.submit "Sign Up" %></div>
<% end %>