<%= form_for @user_info, url: {action: "driving_license_submit"},multipart: true do |f| %>
	<div class="field">
		<%= f.label :driving_license %><br>
	 	<%= f.file_field :driving_license ,:required => true%>
	</div><br>
	<div class="actions"><%= f.submit "Submit" %></div>
<% end %>


<% if @user_info.driving_license? %>
	<h3>Your Submitted Image</h3>
	<center><iframe src=<%= @user_info.driving_license.url %> width="500" height="500" style="border: none;"> </iframe></center>
<% end %>
