<% content_for :home do %>
  <%= render "home" %>
<% end %>

<% content_for :basic_details do %>
  <%= render "basic_details_form" %>
<% end %>

<% content_for :driving_license do %>
	<%= render "driving_license_form" %>
<% end %>

<% content_for :vehicle_registration_card do %>
	<%= render "vehicle_registration_card_form" %>
<% end %>

<div class="row" >
  <div class="col-md-4" >
      <%= link_to "Home", user_profile_path(session[:user_id]), class:"btn btn-primary btn-lg", :id=> "home" %><br><br>
      <%= link_to "Basic Details", basic_details_path(session[:user_id]), class:"btn btn-primary btn-lg", :id=> "basic_details" %><br><br>
      <%= link_to "Driving License", driving_license_path(session[:user_id]), class:"btn btn-primary btn-lg", :id=> "driving_license" %><br><br>
      <%= link_to "Vehicle Registration Card", vehicle_registration_card_path(session[:user_id]), class:"btn btn-primary btn-lg", :id=> "vehicle_registration_card" %><br><br>
  </div>
  <div class="col-md-8">
    <div id="content">
      <%= yield @display_profile %>
    </div>
  </div>
  
</div>





