<!DOCTYPE html>
<html>
  <head>
    <title>Sputnik</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "home" %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <br>
      <%= render 'layouts/error' %>
      <%= yield %>
    </div>
</body>
</html>
