<!DOCTYPE html>
<html>
  <head>
    <title>Sputnik</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "home" %>
  </head>

  <body>
    <div class="topnav">

      <%= link_to "Sputnik", root_path %>
      <div class="topnav-right">
        <%= link_to "Sign Up", signup_path %>
        <%= link_to "Log In", login_path %>
      </div>
    </div>
    
    <div class="container">
      <br>
      <%= render 'layouts/error' %>
      <%= yield %>
    </div>
</body>
</html>
